/*RESET*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    border: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/*LAYOUT*/

.container {
	max-width: 1025px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}


.link-menu {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 40px;
    padding-bottom: 32px;
}

.nav {
    justify-content: space-between;
}
/* UTILITIES */


.fb__15 {
    flex-basis: calc(70% / 4);
}

.fb__20 {
    flex-basis: 20%;
}

.fb__30 {
    flex-basis: 30%;
}

.fb__40 {
    flex-basis: 40%;
}

.fb__60 {
    flex-basis: 60%;
}

.fb__70 {
    flex-basis: 70%;
}

.justify__center {
    display: flex;
    justify-content: center;
}

.justify__end {
    display: flex;
    justify-content: flex-end;
}

.justify__start {
    display: flex;
    justify-content: flex-start;
}

.justify__between {
    display: flex;
    justify-content: space-between;
}

.pb16 {
    padding-bottom: 16px;
}

.pt32 {
    padding-top: 32px;
}

.padding12 {
    padding: 12px;
}

/*STYLE*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.font__white {
    color: white;
}


.section__title {
    font-size: 32px;
    padding-bottom: 12px;
}


.normal__button {

    padding: 12px;
    margin: 8px;
    border-radius: 25px;
    font-size: 12px;
    
}

.small__button {
    padding: 6px 12px;
    border-radius: 25px;
    font-size: 12px;
  }


.bg__black {
    background-color: rgb(2, 2, 18);
    color: white;
}

.bg__white {
    background-color: white;
    color: black;
}

.bg__blue {
    background-color: rgb(66, 184, 224);
    color: white;
}

.star {
    background-image: url(../img/stars.svg);
}




















.bt__white {
    border-top: 3px solid white;
}






/*DEBUG*/

.debug .container {
	border: 2px dotted black;
	padding: 20px;
}

.debug .row {
	border: 2px solid red;
	padding: 20px;
    
}

.debug .col {
    border: 2px dotted black;
    height: 100%;
    
}

/*DEBUG bg-color*/

.debug .header-navbar {
    background-color: aquamarine;
}


.debug .section-blue {
    background-color: blue;
}

.debug .section-white {
    background-color: white;
}


.debug .section-gray {
    background-color: gray;
}


.debug .footer-black {
    background-color: black;
    
}

/*debug header navbar*/

.debug .orange__navbar{
    background-color: orange;
}


.debug .row__navbar {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*debug main*/
/*section title */


.debug .row__title {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .col__title {
    
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

/* section white */
.debug .row__card {

    height: 480px;
    display: flex;
}

.card {
    text-align: left;
    padding: 32px 60px;
}
.debug .aqua {
    background-color: aqua;
}

.debug .pink {
    background-color: pink;
}

/* section gray bis */

.debug .row1025 {
    height: 1025px;
}

.debug .tecnologia__affidabile {
    
    border: 2px dotted black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    
}

.inline {
    display: inline-block;
    width: 720px;
}

.section__paragraph {
    width: 60%;
    display: flex;
    align-items: center;
}

/* FOOTER DEBUG */
.debug .row__black {
    border: 2px solid red;
    height: 560px;
    display: flex;
}

.debug .salmon {
    background-color: salmon;
}

.debug .aquamarine {
    background-color: aquamarine;
}
/* FOOTER NAVBAR SECTION DEBUG */

.debug .row__footer__navbar {
    border: 2px solid red;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.debug .azure {
    background-color: rgb(9, 163, 163);
}

.debug .col__footer {
    border: 2px dotted black;
    background-color: orangered;
    
}