/*RESET*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    border: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/*LAYOUT*/

.container {
	max-width: 1025px;
	margin: 0 auto;
    padding: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
    padding: 20px;
}

.col {
    
    height: 100%;
    
}

.link-menu {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 40px;
    padding-bottom: 32px;
}

.nav {
    justify-content: space-between;
}
/* UTILITIES */


.fb__15 {
    flex-basis: calc(70% / 4);
}

.fb__20 {
    flex-basis: 20%;
}

.fb__30 {
    flex-basis: 30%;
}

.fb__40 {
    flex-basis: 40%;
}

.fb__60 {
    flex-basis: 60%;
}

.fb__70 {
    flex-basis: 70%;
}

.justify__center {
    display: flex;
    justify-content: center;
}

.justify__end {
    display: flex;
    justify-content: flex-end;
}

.justify__start {
    display: flex;
    justify-content: flex-start;
}

.justify__between {
    display: flex;
    justify-content: space-between;
}

.pb16 {
    padding-bottom: 16px;
}

.pt32 {
    padding-top: 32px;
}

.padding12 {
    padding: 12px;
}

/*STYLE*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.font__white {
    color: white;
}

.font__purple {
    color: #5865f2;
}

.link__list {
    font-size: 24px;
    font-weight: 600;
}

.section__title {
    font-size: 32px;
    padding-bottom: 12px;
}


.normal__button {

    padding: 12px;
    margin: 8px;
    border-radius: 25px;
    font-size: 12px;
    
}

.small__button {
    padding: 6px 12px;
    border-radius: 25px;
    font-size: 12px;
  }


.bg__black {
    background-color: rgb(2, 2, 18);
    color: white;
}

.bg__white {
    background-color: white;
    color: black;
}

.bg__blue {
    background-color: rgb(66, 184, 224);
    color: white;
}




















.bt__white {
    border-top: 3px solid white;
}


.debug .section-gray {
    background-color: gray;
}


.debug .footer-black {
    background-color: #3b3b3b;
    
}

/*debug header navbar*/

.debug .row__navbar {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*section title */


.debug .row__title {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .col__title {
    
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

/* section card */
.debug .row__card {

    height: 480px;
    display: flex;
}

.card {
    text-align: left;
    padding: 32px 60px;
}

/* section TECNOLOGIA AFFIDABILE */

.debug .row1025 {
    height: 1025px;
}

.debug .tecnologia__affidabile {
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inline {
    display: inline-block;
    width: 720px;
}

.section__paragraph {
    width: 60%;
    display: flex;
    align-items: center;
}

/* FOOTER */
.debug .row__links {

    height: 560px;
    display: flex;
}

/* FOOTER NAVBAR SECTION  */

.debug .row__footer__navbar {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}